# Python
__pycache__/**
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
.eggs/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
coverage.xml
pytest.xml

# Virtualenv
.venv/
venv/
.env
.env.*

# SQLite
*.db
*.sqlite3


# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
