services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    # Allow Chrome sandboxing:
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
    shm_size: "1gb"
    ports:
      - "8000:8000"
      - "5173:5173"
    environment:
      - DATABASE_URL=sqlite:////workspace/api/caelus.db
    volumes:
      - .:/workspace
