version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    ports:
      - "8000:8000"
      - "5173:5173"
    environment:
      - DATABASE_URL=sqlite:////workspace/api/caelus.db
    volumes:
      - .:/workspace
